@import '../misc/variables'
    
/* Us page */

#hero-image 
    display: flex
    flex-flow: column wrap
    height: 500px
    align-items: center
    justify-content: center
    background-image: url("https://img.freepik.com/foto-gratis/operador-call-center-seguro-hablando-cliente_74855-4059.jpg?t=st=1653160216~exp=1653160816~hmac=3eccfb34eae662dff9b3b47c74a1d3b2463f72045bdfafb9ca6ba4ddff3ac1e2&w=1380")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    color: $blueColor
    opacity: 0.6
    h1
        font-size: 8em
    p 
        color: black
        font-size: 4em

#who-we-are 
    background-color: rgba(12, 35, 94, 0.667)
    align-items: center
    justify-items: center
    height: auto
    display: flex
    img 
        box-sizing: border-box
        width: 49%
        margin: 10px 10px
    div 
        box-sizing: border-box
        width: 49%
        margin: 10px 10px
        font-size: 2em

#why-us
    margin: 10px 250px
    display: grid
    grid-template: auto / 1fr 1fr 1fr 1fr
    text-align: center
    justify-items: center
    grid-gap: 1em
    h1
        grid-column: 1/5